.content {
    background: #fff;
}

.wikiArticle {
    padding: 16px 24px;
}

:host /deep/ #mainPanel {
    background-color: #FCFCFB;
}

#searchResults core-item.core-selected {
    background-color: #F1F0ED;
    font-weight: normal;
}

#searchResults /deep/ core-icon {
    color: rgba(0,0,0,0.25);
    margin-right: 8px;
}

#searchResults paper-ripple {
    color: rgba(0,0,0,0.3333);
}

core-icon.heading-icon {
    margin-right: 8px;
    top: -2px;
}

#searchField {
    background: #fff;
    border-radius: 20px;
}

#searchField input {
    margin-right: 8px;
    width: 240px;
}

[navigation] core-toolbar {
    background: #2196f3;
}

:host /deep/ core-toolbar {
    background: #1e88e5;
}
