@font-face {
    font-family: 'Open Sans Light';
    src: url(//mozorg.cdn.mozilla.net/media/fonts/OpenSans-Light-webfont.eot);
    src: url(//mozorg.cdn.mozilla.net/media/fonts/OpenSans-Light-webfont.eot?#iefix) format('embedded-opentype'), url(//mozorg.cdn.mozilla.net/media/fonts/OpenSans-Light-webfont.woff) format('woff'), url(//mozorg.cdn.mozilla.net/media/fonts/OpenSans-Light-webfont.ttf) format('truetype'), url(//mozorg.cdn.mozilla.net/media/fonts/OpenSans-Light-webfont.svg#OpenSansLight) format('svg');
    font-weight: 400;
    font-style: normal
}
@font-face {
    font-family: 'Open Sans Light';
    src: url(//mozorg.cdn.mozilla.net/media/fonts/OpenSans-Regular-webfont.eot);
    src: url(//mozorg.cdn.mozilla.net/media/fonts/OpenSans-Regular-webfont.eot?#iefix) format('embedded-opentype'), url(//mozorg.cdn.mozilla.net/media/fonts/OpenSans-Regular-webfont.woff) format('woff'), url(//mozorg.cdn.mozilla.net/media/fonts/OpenSans-Regular-webfont.ttf) format('truetype'), url(//mozorg.cdn.mozilla.net/media/fonts/OpenSans-Regular-webfont.svg#OpenSansRegular) format('svg');
    font-weight: 700;
    font-style: normal
}
@font-face {
    font-family: 'Open Sans Light';
    src: url(//mozorg.cdn.mozilla.net/media/fonts/OpenSans-LightItalic-webfont.eot);
    src: url(//mozorg.cdn.mozilla.net/media/fonts/OpenSans-LightItalic-webfont.eot?#iefix) format('embedded-opentype'), url(//mozorg.cdn.mozilla.net/media/fonts/OpenSans-LightItalic-webfont.woff) format('woff'), url(//mozorg.cdn.mozilla.net/media/fonts/OpenSans-LightItalic-webfont.ttf) format('truetype'), url(//mozorg.cdn.mozilla.net/media/fonts/OpenSans-LightItalic-webfont.svg#OpenSansRegular) format('svg');
    font-weight: 400;
    font-style: italic
}
@font-face {
    font-family: 'Open Sans';
    src: url(//mozorg.cdn.mozilla.net/media/fonts/OpenSans-Regular-webfont.eot);
    src: url(//mozorg.cdn.mozilla.net/media/fonts/OpenSans-Regular-webfont.eot?#iefix) format('embedded-opentype'), url(//mozorg.cdn.mozilla.net/media/fonts/OpenSans-Regular-webfont.woff) format('woff'), url(//mozorg.cdn.mozilla.net/media/fonts/OpenSans-Regular-webfont.ttf) format('truetype'), url(//mozorg.cdn.mozilla.net/media/fonts/OpenSans-Regular-webfont.svg#OpenSansRegular) format('svg');
    font-weight: 400;
    font-style: normal
}
@font-face {
    font-family: 'Open Sans';
    src: url(//mozorg.cdn.mozilla.net/media/fonts/OpenSans-Semibold-webfont.eot);
    src: url(//mozorg.cdn.mozilla.net/media/fonts/OpenSans-Semibold-webfont.eot?#iefix) format('embedded-opentype'), url(//mozorg.cdn.mozilla.net/media/fonts/OpenSans-Semibold-webfont.woff) format('woff'), url(//mozorg.cdn.mozilla.net/media/fonts/OpenSans-Semibold-webfont.ttf) format('truetype'), url(//mozorg.cdn.mozilla.net/media/fonts/OpenSans-Semibold-webfont.svg#OpenSansSemibold) format('svg');
    font-weight: 700;
    font-style: normal
}
@font-face {
    font-family: 'Open Sans';
    src: url(//mozorg.cdn.mozilla.net/media/fonts/OpenSans-Italic-webfont.eot);
    src: url(//mozorg.cdn.mozilla.net/media/fonts/OpenSans-Italic-webfont.eot?#iefix) format('embedded-opentype'), url(//mozorg.cdn.mozilla.net/media/fonts/OpenSans-Italic-webfont.woff) format('woff'), url(//mozorg.cdn.mozilla.net/media/fonts/OpenSans-Italic-webfont.ttf) format('truetype'), url(//mozorg.cdn.mozilla.net/media/fonts/OpenSans-Italic-webfont.svg#OpenSansItalic) format('svg');
    font-weight: 400;
    font-style: italic
}
@font-face {
    font-family: 'Open Sans Extra Bold';
    src: url(//mozorg.cdn.mozilla.net/media/fonts/OpenSans-ExtraBold-webfont.eot);
    src: url(//mozorg.cdn.mozilla.net/media/fonts/OpenSans-ExtraBold-webfont.eot?#iefix) format('embedded-opentype'), url(//mozorg.cdn.mozilla.net/media/fonts/OpenSans-ExtraBold-webfont.woff) format('woff'), url(//mozorg.cdn.mozilla.net/media/fonts/OpenSans-ExtraBold-webfont.ttf) format('truetype'), url(//mozorg.cdn.mozilla.net/media/fonts/OpenSans-ExtraBold-webfont.svg#OpenSansSemibold) format('svg');
    font-weight: 700;
    font-style: normal
}
@font-face {
    font-family: MozTT;
    font-weight: 200;
    src: url(//developer.cdn.mozilla.net/media/redesign/fonts/MozTT-light-webfont.eot);
    src: url(//developer.cdn.mozilla.net/media/redesign/fonts/MozTT-light-webfont.eot?#iefix) format('embedded-opentype'), url(//developer.cdn.mozilla.net/media/redesign/fonts/MozTT-light-webfont.woff) format('woff'), url(//developer.cdn.mozilla.net/media/redesign/fonts/MozTT-light-webfont.ttf) format('truetype'), url(//developer.cdn.mozilla.net/media/redesign/fonts/MozTT-light-webfont.svg#mozttlight) format('svg')
}
@font-face {
    font-family: MozTT;
    src: url(//developer.cdn.mozilla.net/media/redesign/fonts/MozTT-regular-webfont.eot);
    src: url(//developer.cdn.mozilla.net/media/redesign/fonts/MozTT-regular-webfont.eot?#iefix) format('embedded-opentype'), url(//developer.cdn.mozilla.net/media/redesign/fonts/MozTT-regular-webfont.woff) format('woff'), url(//developer.cdn.mozilla.net/media/redesign/fonts/MozTT-regular-webfont.ttf) format('truetype'), url(//developer.cdn.mozilla.net/media/redesign/fonts/MozTT-regular-webfont.svg#mozttregular) format('svg')
}
@font-face {
    font-family: MozTT;
    font-weight: 600;
    src: url(//developer.cdn.mozilla.net/media/redesign/fonts/MozTT-medium-webfont.eot);
    src: url(//developer.cdn.mozilla.net/media/redesign/fonts/MozTT-medium-webfont.eot?#iefix) format('embedded-opentype'), url(//developer.cdn.mozilla.net/media/redesign/fonts/MozTT-medium-webfont.woff) format('woff'), url(//developer.cdn.mozilla.net/media/redesign/fonts/MozTT-medium-webfont.ttf) format('truetype'), url(//developer.cdn.mozilla.net/media/redesign/fonts/MozTT-medium-webfont.svg#mozttmedium) format('svg')
}
a,
abbr,
address,
article,
aside,
audio,
b,
blockquote,
body,
canvas,
caption,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
hr,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
p,
pre,
q,
samp,
section,
small,
span,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
ul,
var,
video {
    margin: 0;
    padding: 0;
    border: 0
}
address,
caption,
cite,
code,
dfn,
th,
var {
    font-style: inherit;
    font-weight: inherit
}
article,
aside,
audio,
canvas,
figcaption,
figure,
figure img,
footer,
header,
hgroup,
main,
nav,
section,
video {
    display: block
}
a img {
    border: 0
}
ol,
ul {
    list-style-type: none
}
html {
    background: #fff;
    font-size: 14px
}
body {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
    color: #4d4e53;
}
.column-1 {
    width: 5.5%
}
.column-2 {
    width: 14%
}
.column-3,
.column-quarter,
.column-strip {
    width: 22.5%
}
.column-4,
.column-third {
    width: 31%
}
.column-5 {
    width: 39.5%
}
.column-6,
.column-half,
aside {
    width: 48%
}
.column-7 {
    width: 56.5%
}
.column-8 {
    width: 65%
}
.column-9,
.column-main {
    width: 73.5%
}
.column-10 {
    width: 82%
}
.column-11 {
    width: 90.5%
}
.column-12,
.column-all {
    width: auto;
    margin: 0;
    float: none
}
aside {
    float: right;
    border: 1px solid #eaeff2;
    background: #f4f7f8;
    padding: 20px;
    margin-left: 20px;
    margin-bottom: 20px
}
aside>:last-child {
    margin-bottom: 0;
    padding-bottom: 0
}
blockquote {
    padding: 20px 25px;
    border-left: 5px solid #ccc;
    margin-bottom: 24px;
    background: #eee;
    position: relative
}
blockquote>:last-child {
    margin-bottom: 0;
    padding-bottom: 0
}
blockquote:after,
blockquote:before {
    color: #ccc;
    font-size: 40px;
    position: absolute
}
blockquote:before {
    top: 0;
    left: 10px;
    content: "\201C"
}
blockquote:after {
    bottom: 0;
    right: 10px;
    content: "\201D"
}
caption {
    font-weight: 700
}
caption,
th {
    text-align: left
}
h1,
h2,
h3,
h4 {
    font-weight: 200;
    margin-bottom: 12px;
    font-family: 'Open Sans Light', sans-serif
}
h2,
h3 {
    font-family: 'Open Sans', sans-serif
}
h2,
h3,
h4 {
    line-height: 100%
}
h3,
h4 {
    font-weight: 200
}
h1 {
    font-size: 48px;
    font-size: 3.428571428571428rem;
    letter-spacing: -2px;
    margin-bottom: 20px
}
h2 {
    font-size: 30px;
    font-size: 2.142857142857143rem;
    letter-spacing: -1px;
    font-weight: 700
}
h3 {
    font-size: 24px;
    font-size: 1.714285714285714rem;
    letter-spacing: -.5px
}
h4 {
    font-size: 18px;
    font-size: 1.285714285714286rem;
    letter-spacing: -.25px
}
i[class^=icon-] {
    margin-left: 10px;
    margin-right: 0;
    display: inline-block
}
html[dir=rtl] i[class^=icon-] {
    margin-left: 0;
    margin-right: 10px
}
i[class^=icon-]:before {
    display: inline-block;
    text-decoration: none
}
hr {
    border-top: 1px solid text-color;
    height: 0;
    margin: 0
}
iframe,
img,
video {
    max-width: 100%
}
img,
video {
    height: auto!important
}
dl,
p,
pre,
table {
    margin-bottom: 24px
}
code,
pre {
    font-family: 'Courier New', 'Andale Mono', monospace
}
pre {
    font-size: 14px;
    font-size: 1rem;
    line-height: 19px;
    border: 0;
    background: #f6f6f2;
    padding: 15px;
    overflow: auto
}
code {
    font-weight: inherit
}
input[type=search] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    -ms-appearance: textfield;
    appearance: textfield
}
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
    display: none
}
input[type=email],
input[type=password],
input[type=search],
input[type=text],
input[type=url],
textarea {
    background: #fff;
    border: 1px solid #cbc8b9;
    padding: 6px 8px
}
button,
input,
optgroup,
option,
select,
textarea {
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit
}
label {
    cursor: pointer
}
a {
    color: #0095dd;
    text-decoration: none
}
a:active,
a:focus,
a:hover {
    text-decoration: underline
}
a i[class^=icon-]:before {
    cursor: pointer
}
a[name] {
    color: inherit;
    text-decoration: none
}
a.button:active,
a.button:focus,
a.button:hover {
    text-decoration: none
}
.button,
button,
input[type=button],
input[type=submit] {
    border: 0;
    cursor: pointer;
    display: inline-block;
    line-height: 1;
    background-color: #eaeff2;
    text-transform: uppercase;
    padding: 5px 11px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 -1px #bbbfc2;
    -moz-box-shadow: inset 0 -1px #bbbfc2;
    -ms-box-shadow: inset 0 -1px #bbbfc2;
    box-shadow: inset 0 -1px #bbbfc2;
    color: #4d4e53;
    text-decoration: none
}
.button.only-icon i[class^=icon-],
button.only-icon i[class^=icon-],
input[type=button].only-icon i[class^=icon-],
input[type=submit].only-icon i[class^=icon-] {
    margin-left: 0!important;
    margin-right: 0!important;
    margin-top: -1px!important
}
.button.only-icon span,
button.only-icon span,
input[type=button].only-icon span,
input[type=submit].only-icon span {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px
}
.button.negative,
.button.neutral,
.button.positive,
button.negative,
button.neutral,
button.positive,
input[type=button].negative,
input[type=button].neutral,
input[type=button].positive,
input[type=submit].negative,
input[type=submit].neutral,
input[type=submit].positive {
    color: #fff
}
.button.neutral,
button.neutral,
input[type=button].neutral,
input[type=submit].neutral {
    background-color: #0095dd;
    -webkit-box-shadow: inset 0 -1px #00539f;
    -moz-box-shadow: inset 0 -1px #00539f;
    -ms-box-shadow: inset 0 -1px #00539f;
    box-shadow: inset 0 -1px #00539f
}
.button.negative,
button.negative,
input[type=button].negative,
input[type=submit].negative {
    background-color: #ea3b28;
    -webkit-box-shadow: inset 0 -1px #c13832;
    -moz-box-shadow: inset 0 -1px #c13832;
    -ms-box-shadow: inset 0 -1px #c13832;
    box-shadow: inset 0 -1px #c13832
}
.button.positive,
button.positive,
input[type=button].positive,
input[type=submit].positive {
    background-color: #70a300;
    -webkit-box-shadow: inset 0 -1px #486900;
    -moz-box-shadow: inset 0 -1px #486900;
    -ms-box-shadow: inset 0 -1px #486900;
    box-shadow: inset 0 -1px #486900
}
.button.transparent,
button.transparent,
input[type=button].transparent,
input[type=submit].transparent {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    box-shadow: none;
    background-color: transparent
}
.button::-moz-focus-inner,
button::-moz-focus-inner,
input[type=button]::-moz-focus-inner,
input[type=submit]::-moz-focus-inner {
    margin-top: -1px;
    margin-bottom: -1px
}
.button i[class^=icon-]:before,
button i[class^=icon-]:before,
input[type=button] i[class^=icon-]:before,
input[type=submit] i[class^=icon-]:before {
    cursor: pointer
}
@media all and (max-width: 768px) {
    h1 code,
    h2 code,
    h3 code,
    h4 code,
    h5 code,
    h6 code {
        word-break: break-all
    }
}
@media print {
    code,
    pre,
    pre[class*=language-] {
        white-space: pre-wrap
    }
    code,
    code span,
    pre,
    pre span,
    pre[class*=language-],
    pre[class*=language-] span {
        color: #4d4e53!important
    }
    code span,
    pre span,
    pre[class*=language-] span {
        display: inline-block!important
    }
}
.media,
.media-body,
.notification,
.notification-message {
    overflow: hidden;
    zoom: 1
}
.media-img,
.notification-img {
    float: left;
    margin-right: 10px
}
.media-img img,
.notification-img img {
    display: block
}
.toggler {
    position: relative
}
.toggler i[class^=icon-] {
    right: 10px;
    position: absolute;
    top: 3px;
    color: #4d4e53
}
html[dir=rtl] .toggler i[class^=icon-] {
    left: 10px;
    right: auto
}
.toggler .icon-caret-right {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0)
}
html[dir=rtl] .toggler .icon-caret-right {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg)
}
.toggle-container.closed {
    display: none
}
.subnav .toggler,
.subnav>ol>li>a {
    padding: 20px 40px 20px 20px;
    border-bottom: 1px dotted #d4dde4;
    text-transform: uppercase;
    display: block
}
.subnav ol ol {
    display: none
}
.no-js .subnav ol ol {
    display: block
}
.subnav .toggleable.current,
.subnav>ol>li.current {
    background: #f4f7f8
}
.subnav i[class^=icon-] {
    top: 23px;
    right: 20px
}
.subnav .toggle-container a {
    font-size: 12px;
    font-size: .857142857142857rem;
    display: block;
    padding: 8px 20px
}
.subnav .toggle-container .toggleable {
    background: #e9eef1
}
.subnav .toggle-container .toggleable .toggler {
    text-transform: uppercase;
    color: #4d4e53;
    text-decoration: none;
    display: block;
    font-weight: 400;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 0
}
.subnav .toggle-container .toggleable .toggler i {
    top: 10px
}
.subnav .toggle-container .toggleable .toggle-container a {
    padding-left: 30px
}
.subnav .toggle-container li.current>a:not(.toggler) {
    position: relative;
    color: #fff;
    background-color: #4d4e53
}
.subnav .toggle-container li.current>a:not(.toggler):after,
.subnav .toggle-container li.current>a:not(.toggler):before {
    content: ' ';
    height: 0;
    position: absolute;
    width: 0;
    border: 10px solid transparent
}
.subnav .toggle-container li.current>a:not(.toggler):before {
    border-right-color: #fff;
    position: absolute;
    top: 20%;
    right: 0
}
.subnav a {
    text-decoration: none
}
.subnav a:active,
.subnav a:focus,
.subnav a:hover {
    text-decoration: underline
}
.notification {
    border-radius: 2px;
    border-style: solid;
    border-width: 2px;
    margin-bottom: 20px;
    padding: 10px;
    position: relative;
    background-color: #f3f4f5;
    border-color: #bec3c9;
    color: #4d4e53
}
body>.notification {
    margin-bottom: 0
}
.notification.closed {
    display: none
}
.notification.clickable {
    cursor: pointer
}
.notification button.close {
    background: 0 0;
    border: 0;
    box-shadow: none;
    display: block;
    padding: 2px;
    position: absolute;
    top: 0;
    right: 0
}
.notification .notification-button {
    background-color: #bec3c9;
    color: #59626a
}
.notification .notification-button:focus,
.notification .notification-button:hover {
    background: 0 0;
    text-decoration: none
}
.notification .notification-img i {
    color: #9ca5a8
}
.notification button.close {
    color: #bec3c9
}
.notification button.close:focus,
.notification button.close:hover {
    color: #9ca5a8
}
.notification.info {
    background-color: #cce9f8;
    border-color: #7dc7ed;
    color: #4d4e53
}
.notification.info .notification-button {
    background-color: #7dc7ed;
    color: #16709f
}
.notification.info .notification-button:focus,
.notification.info .notification-button:hover {
    background: 0 0;
    text-decoration: none
}
.notification.info .notification-img i {
    color: #0077b1
}
.notification.info button.close {
    color: #7dc7ed
}
.notification.info button.close:focus,
.notification.info button.close:hover {
    color: #0077b1
}
.notification.success {
    background-color: #e2eccc;
    border-color: #bed48c;
    color: #4d4e53
}
.notification.success .notification-button {
    background-color: #bed48c;
    color: #678030
}
.notification.success .notification-button:focus,
.notification.success .notification-button:hover {
    background: 0 0;
    text-decoration: none
}
.notification.success .notification-img i {
    color: #5a8200
}
.notification.success button.close {
    color: #bed48c
}
.notification.success button.close:focus,
.notification.success button.close:hover {
    color: #5a8200
}
.notification.warning {
    background-color: #fff4cc;
    border-color: #ffe070;
    color: #4d4e53
}
.notification.warning .notification-button {
    background-color: #ffe070;
    color: #b89000
}
.notification.warning .notification-button:focus,
.notification.warning .notification-button:hover {
    background: 0 0;
    text-decoration: none
}
.notification.warning .notification-img i {
    color: #cca200
}
.notification.warning button.close {
    color: #ffe070
}
.notification.warning button.close:focus,
.notification.warning button.close:hover {
    color: #cca200
}
.notification.error {
    background-color: #fad7d4;
    border-color: #f08a81;
    color: #4d4e53
}
.notification.error .notification-button {
    background-color: #f08a81;
    color: #a61f13
}
.notification.error .notification-button:focus,
.notification.error .notification-button:hover {
    background: 0 0;
    text-decoration: none
}
.notification.error .notification-img i {
    color: #c82514
}
.notification.error button.close {
    color: #f08a81
}
.notification.error button.close:focus,
.notification.error button.close:hover {
    color: #c82514
}
.notification-message:first-child {
    margin-top: 0
}
.notification-img i[class^=icon-] {
    font-size: 20px;
    margin: 0
}
.notification-button {
    border: 1px solid;
    border-radius: 2px;
    box-shadow: none;
    display: inline-block;
    line-height: 1;
    margin: 5px 5px 0 0;
    padding: 2px 5px 3px;
    text-transform: none
}
.notification-tray {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 999999;
    width: 300px;
    font-size: 12px
}
.notification-tray .notification {
    margin-bottom: 8px
}
.offscreen {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px
}
.clear {
    clear: both
}
.clear:after {
    content: ' ';
    clear: both;
    display: table
}
.title {
    font-weight: 700;
    text-transform: uppercase;
    color: #4d4e53;
    text-decoration: none;
    display: block
}
.smaller {
    font-size: 12px;
    font-size: .857142857142857rem
}
.larger {
    font-size: 16px;
    font-size: 1.142857142857143rem
}
.grid-padding {
    padding: 20px
}
.heading-link {
    font-style: italic;
    font-size: 14px;
    font-size: 1rem;
    font-weight: 400;
    display: inline-block;
    margin-left: 40px
}
.column-container {
    clear: both
}
.column-container:after {
    content: ' ';
    clear: both;
    display: table
}
.column-container>[class^=column-] {
    margin-right: 3%;
    float: left;
    min-height: 1px
}
html[dir=rtl] .column-container>[class^=column-] {
    float: right
}
.column-container>[class^=column-]:last-child {
    margin-right: 0
}
html[dir=rtl] .column-container>[class^=column-]:last-child {
    margin-right: 3%
}
.column-container.column-container-reverse {
    margin-left: -1%
}
html[dir=rtl] .column-container.column-container-reverse {
    margin-right: -1%;
    margin-left: 0
}
.column-container.column-container-reverse>[class^=column-] {
    float: right
}
html[dir=rtl] .column-container.column-container-reverse>[class^=column-] {
    float: left
}
.column-container.column-container-reverse>[class^=column-]:first-child {
    margin-right: 0
}
.column-container.column-container-reverse>[class^=column-]:last-child,
html[dir=rtl] .column-container.column-container-reverse>[class^=column-]:first-child {
    margin-right: 3%
}
html[dir=rtl] .column-container.column-container-reverse>[class^=column-]:last-child,
html[dir=rtl] .column-container>[class^=column-]:first-child {
    margin-right: 0
}
.column-closed {
    display: none
}
@media all and (max-width: 1024px) {
    .column-container.column-container-reverse {
        margin-left: 0
    }
}
@media all and (max-width: 768px) {
    .column-1,
    .column-10,
    .column-11,
    .column-12,
    .column-2,
    .column-3,
    .column-4,
    .column-5,
    .column-6,
    .column-7,
    .column-8,
    .column-9,
    .column-all,
    .column-container>[class^=column-],
    .column-half,
    .column-quarter,
    .column-strip,
    .column-third {
        width: auto!important;
        margin-left: 0!important;
        margin-right: 0!important;
        float: none!important
    }
}
.center,
.global-notice .wrap {
    margin: 0 auto;
    position: relative;
    max-width: 1400px;
    padding-left: 24px;
    padding-right: 24px
}
.global-notice {
    background: #f4f7f8
}
.global-notice .wrap {
    font-size: 12px;
    font-size: .857142857142857rem;
    padding: 10px 24px;
    max-width: 1400px
}
.global-notice .wrap>p:last-child {
    margin-bottom: 0
}
#main-header {
    clear: both;
    border-color: transparent;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-top: 2px solid #fff
}
#main-header:after {
    content: ' ';
    clear: both;
    display: table
}
#main-header .logo {
    float: left;
    width: 205px;
    height: 40px;
    margin-top: 7px;
    background-image: url(/media/redesign/img/logo_sprite.svg?2014-01);
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 100% auto;
    display: block;
    text-indent: -9999px;
    overflow: hidden
}
#tabzilla,
html[dir=rtl] #main-header .logo {
    float: right
}
html[dir=rtl] #tabzilla {
    float: left
}
#nav-access {
    width: 100%;
    position: absolute;
    top: -20em;
    z-index: 1001
}
#nav-access a {
    background: rgba(255, 255, 255, .9);
    padding: 12px 10px;
    position: absolute;
    left: 0;
    right: 0;
    font-weight: 700;
    text-align: center
}
#nav-access a:focus,
#nav-access a:hover {
    box-shadow: 3px 3px 5px #aaa;
    top: 20em;
    text-decoration: none
}
#main-nav>ul {
    float: right;
    margin-top: 20px;
    margin-bottom: 20px
}
html[dir=rtl] #main-nav>ul {
    float: left
}
#main-nav>ul>li {
    margin-left: 31px;
    position: relative;
    opacity: 1;
    max-width: 1000px;
    display: inline-block;
    -webkit-transition-property: width;
    -moz-transition-property: width;
    -ms-transition-property: width;
    transition-property: width;
    -webkit-transition-duration: .5s;
    -moz-transition-duration: .5s;
    -ms-transition-duration: .5s;
    transition-duration: .5s;
    -webkit-transition-delay: .5s;
    -moz-transition-delay: .5s;
    -ms-transition-delay: .5s;
    transition-delay: .5s;
    text-align: left
}
html[dir=rtl] #main-nav>ul>li {
    margin-right: 31px;
    margin-left: 0;
    text-align: right
}
#main-nav>ul>li:first-child {
    margin-left: 0
}
#main-nav>ul>li>a i {
    opacity: .85
}
#main-nav>ul>li .search-trigger,
#main-nav>ul>li>a {
    text-transform: uppercase;
    font-weight: 700
}
#main-nav>ul>li>a:active,
#main-nav>ul>li>a:hover,
#main-nav>ul>li>a:link,
#main-nav>ul>li>a:visited {
    color: #4d4e53;
    text-decoration: none
}
#main-nav>ul>li .search-wrap,
#main-nav>ul>li>a {
    padding: 4px 8px
}
#main-nav .submenu {
    position: absolute;
    padding: 20px;
    background: #fff;
    display: none;
    width: 380px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, .4);
    top: 40px;
    left: -136px;
    border-top: 5px solid #404040
}
#main-nav .submenu .submenu-close {
    display: none;
    position: absolute;
    top: 20px;
    right: 0
}
html[dir=rtl] #main-nav .submenu .submenu-close {
    left: 0;
    right: auto
}
#main-nav .submenu .submenu-close i {
    margin-left: 0
}
@media all and (max-width: 1024px) {
    #main-nav .submenu .submenu-close {
        display: block
    }
}
#main-nav .submenu .submenu-column {
    vertical-align: text-top;
    width: 179.5px;
    display: inline-block
}
#main-nav .submenu .submenu-column:nth-child(even) {
    border-left: 1px dotted #d4dde4;
    padding-left: 20px
}
html[dir=rtl] #main-nav .submenu .submenu-column:nth-child(even) {
    border-right: 1px dotted #d4dde4;
    border-left: 0;
    padding-right: 20px;
    padding-left: 0
}
#main-nav .submenu a {
    font-size: 12px;
    font-size: .857142857142857rem;
    padding: 5px 0;
    display: block;
    text-decoration: none
}
#main-nav .submenu a:active,
#main-nav .submenu a:focus,
#main-nav .submenu a:hover {
    text-decoration: underline
}
#main-nav .submenu:after,
#main-nav .submenu:before {
    content: ' ';
    height: 0;
    width: 0;
    border: 10px solid transparent
}
#main-nav .submenu:before {
    border-bottom-color: #fff;
    position: absolute;
    z-index: 2
}
#main-nav .submenu:after {
    border-bottom-color: #333;
    position: absolute;
    z-index: 1
}
@media all and (max-width: 768px) {
    #main-nav .submenu .submenu-column,
    #main-nav .submenu .submenu-column:nth-child(even) {
        border-left: 0;
        padding-left: 0
    }
    html[dir=rtl] #main-nav .submenu .submenu-column,
    html[dir=rtl] #main-nav .submenu .submenu-column:nth-child(even) {
        border-right: 0;
        border-left: 0;
        padding-right: 0;
        padding-left: 0
    }
}
@media all and (max-width: 480px) {
    #main-nav .submenu {
        width: auto
    }
    #main-nav .submenu .submenu-column {
        width: auto;
        display: block
    }
}
#main-nav .submenu .submenu-column {
    min-height: 90px
}
#main-nav .submenu:after,
#main-nav .submenu:before {
    top: -19px;
    left: 190px
}
html[dir=rtl] #main-nav .submenu:after,
html[dir=rtl] #main-nav .submenu:before {
    right: 190px;
    left: auto
}
#main-nav .submenu:after {
    top: -24px
}
#main-nav .submenu-single {
    width: 180px;
    left: -74px
}
#main-nav .submenu-single:after,
#main-nav .submenu-single:before {
    left: 98px
}
html[dir=rtl] #main-nav .submenu-single:after,
html[dir=rtl] #main-nav .submenu-single:before {
    right: 98px;
    left: auto
}
#main-nav.expand .search-wrap {
    width: 500px
}
#main-nav.expand>ul>li:not(:last-child) {
    opacity: 0;
    width: 0;
    max-width: 0;
    overflow: hidden;
    padding: 0;
    -webkit-transition-delay: 0;
    -moz-transition-delay: 0;
    -ms-transition-delay: 0;
    transition-delay: 0
}
a.github-button,
a.persona-button {
    border-radius: 3px;
    z-index: 2;
    display: inline-block;
    font-weight: 700
}
a.github-button:focus span,
a.persona-button:focus span {
    text-decoration: underline
}
a.github-button span,
a.persona-button span {
    text-decoration: none;
    outline: 0;
    display: block;
    float: left;
    font-size: 14px;
    font-size: 1rem;
    line-height: 24px;
    color: #fff;
    padding: 0 10px 0 20px;
    position: relative
}
a.github-button span:after,
a.persona-button span:after {
    content: '';
    position: absolute;
    top: 0;
    right: -12px;
    width: 24px;
    height: 24px;
    z-index: 1;
    -webkit-transform: scale(.707) rotate(45deg);
    -moz-transform: scale(.707) rotate(45deg);
    -ms-transform: scale(.707) rotate(45deg);
    transform: scale(.707) rotate(45deg);
    border-radius: 0 3px 0 50px
}
a.github-button span.github-icon,
a.github-button span.persona-icon,
a.persona-button span.github-icon,
a.persona-button span.persona-icon {
    padding-left: 3px;
    border-radius: 3px 0 0 3px;
    background: -webkit-linear-gradient(#43a6e2, #287cc2);
    background: -moz-linear-gradient(#43a6e2, #287cc2);
    background: -ms-linear-gradient(#43a6e2, #287cc2);
    background: linear-gradient(#43a6e2, #287cc2);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#43a6e2', endColorstr='#287cc2', GradientType=1);
    height: 24px
}
a.github-button span.github-icon:after,
a.github-button span.persona-icon:after,
a.persona-button span.github-icon:after,
a.persona-button span.persona-icon:after {
    background: -webkit-linear-gradient(left top, #43a6e2, #287cc2);
    background: -moz-linear-gradient(left top, #43a6e2, #287cc2);
    background: -ms-linear-gradient(left top, #43a6e2, #287cc2);
    background: linear-gradient(left top, #43a6e2, #287cc2);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#43a6e2', endColorstr='#287cc2', GradientType=1)
}
a.github-button span.github-icon i,
a.github-button span.persona-icon i,
a.persona-button span.github-icon i,
a.persona-button span.persona-icon i {
    position: relative;
    top: 2px;
    left: 5px;
    width: 15px;
    height: 15px;
    display: inline-block
}
a.github-button span.signin,
a.persona-button span.signin {
    text-shadow: 0 1.5px 1px rgba(0, 0, 0, .35);
    line-height: 23px;
    padding-bottom: 1px
}
a.github-button span.signin:after,
a.persona-button span.signin:after {
    z-index: 2;
    background: -webkit-linear-gradient(top left, #56565a, #3a3a3a);
    background: -moz-linear-gradient(top left, #56565a, #3a3a3a);
    background: -ms-linear-gradient(top left, #56565a, #3a3a3a);
    background: linear-gradient(top left, #56565a, #3a3a3a);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#56565a', endColorstr='#3a3a3a', GradientType=1)
}
a.github-button span.signin,
a.persona-button span.signin {
    background: -webkit-linear-gradient(#56565a, #3a3a3a);
    background: -moz-linear-gradient(#56565a, #3a3a3a);
    background: -ms-linear-gradient(#56565a, #3a3a3a);
    background: linear-gradient(#56565a, #3a3a3a);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#56565a', endColorstr='#3a3a3a', GradientType=1)
}
a.persona-button {
    visibility: hidden
}
a.persona-button.persona-loaded {
    visibility: visible
}
a.persona-button i {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAQAAAD9CzEMAAABjElEQVR4Ae3WQYQbURjA8ccwhBCGYU+5LiGUEkoJPZUQQk5LWJawLMuSUyhLCTnlVIZSQk6llKGUEIZSQsg1hBCWZZnTEMK/KqqyMcn7Zubd9vddh7+5fN9TenC54wchOws86iid0fmoQJ+IQ3NqWQRKLIg3wEoXKBNy3Hes5AGXFaf1kgdG6KkkC7xii54gWeAL+l7LAxZP6OvJA1UkZvLADRJbbGmgh0xRFrBZIfNBFqgjtZQFOsjZksAlUqHsD1wiZD7LAooWEksK8lUxRF8l2bLTNUm6rsfoqUsC8oUdpDmZA06JKKcJ2PziuFbaV8UZc+J1s3gXObGJDkoSkB//tyheApwziD3/U67IJw04NBmy5rSAe95IAmW6jJF6ZEQT53ggT5816Ux4Hxdo8kA2fNzDwDs2ZOc3uf1AiZBsfdsP+GSv9j9QxYQZ1r/AT8xo7AJFTPF3gQ6mbHH+BgLMuVDkiDDHU1Qwaa64xqSN4hNGKXzTgQZtPuLhETB9Nmv0TA/mKx4et7T/AHu690RA5bMsAAAAAElFTkSuQmCC) 0 0 no-repeat;
    background-size: cover
}
a.github-button span.github-icon {
    background: -webkit-linear-gradient(#5d649a, #63397b);
    background: -moz-linear-gradient(#5d649a, #63397b);
    background: -ms-linear-gradient(#5d649a, #63397b);
    background: linear-gradient(#5d649a, #63397b);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#5d649a', endColorstr='#63397b', GradientType=1)
}
a.github-button span.github-icon:after {
    background: -webkit-linear-gradient(left top, #5d649a, #63397b);
    background: -moz-linear-gradient(left top, #5d649a, #63397b);
    background: -ms-linear-gradient(left top, #5d649a, #63397b);
    background: linear-gradient(left top, #5d649a, #63397b);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#5d649a', endColorstr='#63397b', GradientType=1)
}
a.github-button span.github-icon i[class^=icon-] {
    margin-left: 0;
    top: 0;
    left: 8px
}
.oauth-login-container {
    right: 200px;
    position: absolute;
    top: 12px;
    font-size: 13px;
    font-size: .928571428571429rem;
    z-index: 3;
    cursor: pointer;
    border-radius: 8px;
    border: 1px solid transparent;
    display: inline-block
}
html[dir=rtl] .oauth-login-container {
    left: 200px;
    right: auto
}
.oauth-login-container.active {
    border-color: rgba(255, 255, 255, .3)
}
.oauth-login-container.active .oauth-login-picker {
    display: block
}
.oauth-login-container i[class^=icon-] {
    margin-left: 0
}
.oauth-login-container i[class^=icon-]:before {
    cursor: pointer
}
.oauth-login-options {
    padding: 4px 8px;
    background: rgba(0, 0, 0, .1)
}
.oauth-icon {
    border-radius: 4px;
    text-align: center;
    padding: 0 7px;
    font-size: 16px;
    margin-left: 4px;
    color: #fff;
    display: inline-block;
    background: -webkit-linear-gradient(#43a6e2, #287cc2);
    background: -moz-linear-gradient(#43a6e2, #287cc2);
    background: -ms-linear-gradient(#43a6e2, #287cc2);
    background: linear-gradient(#43a6e2, #287cc2);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#43a6e2', endColorstr='#287cc2', GradientType=1)
}
html[dir=rtl] .oauth-icon {
    margin-right: 4px;
    margin-left: 0
}
.oauth-icon i[class^=icon-] {
    margin-left: 0
}
html[dir=rtl] .oauth-icon i[class^=icon-] {
    margin-right: 0;
    margin-left: 0
}
.oauth-github {
    background: -webkit-linear-gradient(#5d649a, #63397b);
    background: -moz-linear-gradient(#5d649a, #63397b);
    background: -ms-linear-gradient(#5d649a, #63397b);
    background: linear-gradient(#5d649a, #63397b);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#5d649a', endColorstr='#63397b', GradientType=1)
}
.oauth-login-picker {
    display: none;
    background: #fff;
    position: relative
}
.oauth-login-picker .submenu-close {
    display: none;
    position: absolute;
    top: 20px;
    right: 0
}
html[dir=rtl] .oauth-login-picker .submenu-close {
    left: 0;
    right: auto
}
.oauth-login-picker .submenu-close i {
    margin-left: 0
}
@media all and (max-width: 1024px) {
    .oauth-login-picker .submenu-close {
        display: block
    }
}
.oauth-login-picker a {
    display: block;
    padding: 6px 8px;
    position: relative
}
.oauth-login-picker a:active,
.oauth-login-picker a:focus,
.oauth-login-picker a:hover {
    background: rgba(0, 149, 221, .1)
}
.oauth-login-picker a:after {
    position: absolute;
    top: 6px;
    right: 10px;
    font-family: FontAwesome;
    content: "\f0da";
    opacity: .5
}
html[dir=rtl] .oauth-login-picker a:after {
    left: 10px;
    right: auto;
    content: "\f0d9"
}
.oauth-login-picker i[class^=icon-] {
    margin-right: 10px
}
html[dir=rtl] .oauth-login-picker i[class^=icon-] {
    margin-left: 10px;
    margin-right: 0
}
.search-wrap {
    background: 0 0;
    padding: 4px 8px;
    border-radius: 3px;
    position: relative;
    -webkit-transition-property: width;
    -moz-transition-property: width;
    -ms-transition-property: width;
    transition-property: width;
    -webkit-transition-duration: .5s;
    -moz-transition-duration: .5s;
    -ms-transition-duration: .5s;
    transition-duration: .5s;
    width: 60px;
    background: rgba(255, 255, 255, .9)
}
.search-wrap.expanded {
    background: #fff
}
.search-wrap input {
    background: 0 0;
    border: 0;
    color: #4d4e53;
    font-weight: 700;
    overflow: hidden;
    padding: 0;
    -webkit-transition-property: width;
    -moz-transition-property: width;
    -ms-transition-property: width;
    transition-property: width;
    -webkit-transition-duration: .5s;
    -moz-transition-duration: .5s;
    -ms-transition-duration: .5s;
    transition-duration: .5s;
    position: absolute;
    left: 8px;
    width: 90%;
    z-index: 2;
    cursor: pointer
}
.search-wrap input::-webkit-input-placeholder {
    color: #4d4e53
}
.search-wrap input::-moz-placeholder {
    color: #4d4e53
}
.search-wrap input::-webkit-input-placeholder {
    text-transform: uppercase
}
.search-wrap input::-moz-placeholder {
    text-transform: uppercase
}
.search-wrap .search-trigger {
    position: absolute;
    right: 12px;
    z-index: 1;
    cursor: pointer
}
html[dir=rtl] .search-wrap .search-trigger {
    left: 12px;
    right: auto
}
main {
    background: #fff;
    min-height: 200px
}
main>.center {
    padding-top: 30px
}
footer {
    font-size: 12px;
    font-size: .857142857142857rem;
    background: #fff;
    padding: 30px 0 0
}
footer label,
footer p {
    font-style: italic
}
footer p {
    padding-left: 92px!important;
    padding-top: 10px;
    padding-bottom: 0;
    position: relative;
    min-height: 62px
}
html[dir=rtl] footer p {
    padding-right: 92px!important;
    padding-left: 0!important
}
footer p:after {
    left: 0;
    content: '';
    display: block;
    width: 65px;
    height: 60px;
    background-image: url(/media/redesign/img/logo_sprite.svg?2014-01);
    background-position: 0 -83px;
    background-size: 205px auto;
    background-repeat: no-repeat;
    position: absolute;
    top: 0
}
html[dir=rtl] footer p:after {
    right: 0;
    left: 0
}
footer .column-strip {
    padding-top: 10px
}
footer label {
    padding-right: 4px
}
#feature-test-element {
    position: absolute;
    left: 0;
    top: -999999px;
    width: 0;
    height: 0;
    overflow: hidden;
    z-index: 1
}
@media all and (max-width: 1200px) {
    #feature-test-element {
        z-index: 2
    }
}
@media all and (max-width: 1024px) {
    #feature-test-element {
        z-index: 3
    }
}
@media all and (max-width: 768px) {
    #feature-test-element {
        z-index: 4
    }
}
.hidden {
    display: none
}
.disabled {
    pointer-events: none;
    cursor: default
}
@media all and (max-width: 1024px) {
    #main-nav .submenu {
        left: 0;
        right: 0
    }
    #main-nav .submenu:after,
    #main-nav .submenu:before {
        left: 10px
    }
    html[dir=rtl] #main-nav .submenu:after,
    html[dir=rtl] #main-nav .submenu:before {
        right: 10px;
        left: auto
    }
    #main-nav>ul>li {
        margin-left: 21px
    }
    html[dir=rtl] #main-nav>ul>li {
        margin-right: 21px;
        margin-left: 0
    }
    #main-nav>ul>li>a i {
        font-size: 16px;
        font-size: 1.142857142857143rem
    }
}
@media all and (max-width: 970px) {
    #main-header .logo {
        margin-top: -33px
    }
    #main-nav>ul {
        text-align: right;
        width: 100%;
        clear: both
    }
    #main-nav>ul>li {
        -webkit-transition-property: none;
        -moz-transition-property: none;
        -ms-transition-property: none;
        transition-property: none
    }
    #main-nav>ul>li:first-child {
        margin-left: 0
    }
}
@media all and (max-width: 660px) {
    #main-nav>ul {
        float: none;
        text-align: left
    }
    #main-nav>ul>li {
        margin: 10px 10px 10px 0
    }
    #tabzilla {
        display: none
    }
    .oauth-login-container {
        right: 0
    }
    html[dir=rtl] .oauth-login-container {
        left: 0;
        right: auto
    }
    #main-header .user-state {
        position: relative;
        right: auto;
        top: auto;
        float: none;
        width: auto;
        margin-top: 10px
    }
    #main-header .logo {
        margin: 10px 0;
        float: none
    }
}
@media all and (max-width: 768px) {
    .center {
        padding-left: 15px;
        padding-right: 15px
    }
    #main-header .main-nav-search {
        display: block;
        padding: 0;
        margin-top: 10px;
        width: auto
    }
    #main-header .main-nav-search .search-wrap {
        width: auto
    }
    #main-header.expand ul>li:not(:last-child) {
        width: auto;
        max-width: none;
        -webkit-transition-property: none;
        -moz-transition-property: none;
        -ms-transition-property: none;
        transition-property: none;
        overflow: visible
    }
}
@media print {
    footer,
    header {
        display: none
    }
    .center {
        padding-left: 0;
        padding-right: 0
    }
}
p.field-explanation {
    margin-bottom: 0
}
label i[class^=icon-] {
    margin-left: 0;
    margin-right: 10px
}
html[dir=rtl] label i[class^=icon-] {
    margin-left: 10px;
    margin-right: 0
}
.user-state {
    position: absolute;
    top: 12px;
    float: none;
    right: 200px;
    font-size: 13px;
    font-size: .928571428571429rem
}
html[dir=rtl] .user-state {
    float: left;
    left: 200px;
    right: auto
}
.user-state ul,
.user-state>i[class^=icon-] {
    float: left;
    line-height: 20px
}
html[dir=rtl] .user-state ul,
html[dir=rtl] .user-state>i[class^=icon-] {
    float: right
}
.user-state>i[class^=icon-] {
    margin-right: 10px;
    font-size: 15.6px;
    font-size: 1.114285714285714rem
}
html[dir=rtl] .user-state>i[class^=icon-] {
    margin-left: 10px;
    margin-right: 10px
}
.user-state li {
    display: inline
}
.user-state li+li {
    margin-left: 8px;
    padding-left: 10px;
    border-left: 1px solid #bbb;
    padding-right: 10px;
    margin-right: 8px
}
html[dir=rtl] .user-state li+li {
    border-right: 1px solid #bbb;
    border-left: 0;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 8px;
    margin-right: 6px
}
.user-state a,
.user-state a:focus,
.user-state a:hover,
.user-state a:visited {
    color: #0095dd
}
.cols-2 {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    -ms-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 10px;
    -moz-column-gap: 10px;
    -ms-column-gap: 10px;
    column-gap: 10px
}
.cols-3 {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    -ms-column-count: 3;
    column-count: 3;
    -webkit-column-gap: 10px;
    -moz-column-gap: 10px;
    -ms-column-gap: 10px;
    column-gap: 10px
}
.cols-4 {
    -webkit-column-count: 4;
    -moz-column-count: 4;
    -ms-column-count: 4;
    column-count: 4;
    -webkit-column-gap: 10px;
    -moz-column-gap: 10px;
    -ms-column-gap: 10px;
    column-gap: 10px
}
#content-main.full {
    clear: both;
    float: none;
    width: 100%
}
.main {
    float: left;
    width: 670px
}
.global-notice {
    position: relative;
    margin: 0 0 -1px
}
ol.pagination {
    margin: 20px 0;
    padding: 20px 0
}
ol.pagination li {
    float: left;
    padding: 0 2px
}
html[dir=rtl] ol.pagination li {
    float: right
}
ol.pagination li.prev,
ol.pagination li.prev a {
    padding-left: 0
}
html[dir=rtl] ol.pagination li.prev,
html[dir=rtl] ol.pagination li.prev a {
    padding-right: 0;
    padding-left: auto
}
ol.pagination li a {
    float: left;
    padding: 3px 8px 5px
}
html[dir=rtl] ol.pagination li a {
    float: right
}
ol.pagination li a:hover {
    text-decoration: underline
}
ol.pagination li.selected a {
    background: #447bc4;
    color: #fff;
    border-radius: 5px
}
.text-content table {
    border-collapse: collapse;
    border: solid #e0e0dc;
    border-width: 1px 0 0 1px
}
.text-content table.topicpage-table {
    clear: both;
    width: auto
}
.text-content table.topicpage-table td {
    padding: 10px;
    vertical-align: top;
    width: 50%
}
.text-content table.topicpage-table small {
    font-size: 12px
}
.text-content table.standard-table {
    border: 2px solid #fff
}
.text-content table.standard-table td {
    background-color: rgba(212, 221, 228, .15);
    border: 2px solid #fff;
    box-shadow: inset 0 -1px 0 0 rgba(212, 221, 228, .5)
}
.text-content table.standard-table td.header,
.text-content table.standard-table th {
    border: 2px solid #fff;
    border-bottom: 2px solid #d4dde4;
    background: rgba(212, 221, 228, .5);
    font-family: 'Open Sans Light', sans-serif;
    font-size: 14px;
    padding: 2px 8px 4px;
    font-weight: 700
}
.text-content table.fullwidth-table {
    background: #fff;
    border: 1px solid rgba(212, 221, 228, .5);
    margin-bottom: 20px;
    width: 100%
}
.text-content table.fullwidth-table td {
    border: 1px solid #ccc;
    padding: 5px 15px;
    text-align: left;
    vertical-align: top
}
.text-content table.fullwidth-table td.header,
.text-content table.fullwidth-table th {
    background: rgba(212, 221, 228, .5);
    border: 1px solid #d4dde4;
    font-weight: 700;
    padding: 0 5px
}
.text-content td,
.text-content th {
    border: solid #e0e0dc;
    border-width: 0 1px 1px 0;
    padding: 6px;
    text-align: start
}
.text-content thead th {
    background: rgba(212, 221, 228, .5)
}
.text-content ul {
    list-style: disc
}
.text-content ul ul {
    list-style: circle
}
.text-content ol ol,
.text-content ol ul,
.text-content ul ol,
.text-content ul ul {
    margin-bottom: 0;
    padding-top: 6px
}
.text-content ol,
.text-content ul {
    padding-left: 40px;
    margin-bottom: 24px
}
html[dir=rtl] .text-content ol,
html[dir=rtl] .text-content ul {
    padding-right: 40px;
    padding-left: 0
}
.text-content ol.no-bullets,
.text-content ul.no-bullets {
    list-style-type: none;
    padding-left: 0
}
html[dir=rtl] .text-content ol.no-bullets,
html[dir=rtl] .text-content ul.no-bullets {
    padding-right: 0;
    padding-left: 0
}
.text-content ol {
    list-style-type: decimal
}
.text-content li {
    padding-bottom: 6px
}
.text-content>li:last-child {
    padding-bottom: 0
}
.text-content dt {
    font-style: normal;
    font-weight: 700
}
.text-content dd {
    margin-bottom: 24px;
    padding-left: 20px
}
.text-content span.alllinks {
    display: block;
    text-align: right
}
.text-content img.lwrap {
    padding: 0 20px 10px 0
}
.text-content img.rwrap {
    padding: 0 0 10px 20px
}
.text-content .licenseblock,
.text-content .originaldocinfo {
    background: #f1f1f1;
    border: 1px solid #ccc;
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 12px;
    padding: 10px
}
.text-content .originaldocinfo h2 {
    font-size: 14px
}
.text-content .originaldocinfo ul {
    margin: 0
}
.text-content .licenseblock p {
    margin-bottom:
}
.text-content .licenseblock p:last-child {
    margin-bottom: 0
}
ul.directory-tree {
    padding-left: 0
}
ul.directory-tree,
ul.directory-tree ul {
    list-style-type: none;
    padding-top: 0
}
ul.directory-tree ul {
    padding-left: 0;
    background: url(/media/redesign/img/tree-vline.png) repeat-y
}
ul.directory-tree ul li {
    padding-left: 16px;
    background: url(/media/redesign/img/tree-node.png) no-repeat
}
ul.directory-tree li {
    padding-bottom: 0
}
.notice {
    position: relative;
    top: -10px;
    background: #fcf6d4;
    border: 1px solid #e5d5c1;
    box-shadow: 1px 1px 0 rgba(0, 0, 0, .1);
    clear: both;
    margin: 10px 0 5px;
    padding: 10px 15px 0
}
.notice p,
.notice ul {
    margin-bottom: 10px
}
.notice.success {
    background: #effdfb;
    border-color: #beede5
}
.notice.error {
    border-color: #e1a696
}
ul.tagit li.tagit-new {
    border-radius: 2px;
    display: inline-block;
    padding: 3px 4px 4px 10px
}
ul.tagit li.tagit-new input {
    background: 0 0;
    border: 0;
    padding: 0
}
ul.tagit li.tagit-choice {
    background: #f9f9f9;
    border: 1px solid #dbd9d1;
    border-radius: 2px;
    display: inline-block;
    margin: 0 10px 10px 0;
    padding: 3px 4px 4px 10px
}
ul.tagit li.tagit-choice .close {
    margin-left: 4px
}
ul.tagit li.tagit-choice .close .text-icon {
    display: none
}
ul.tagit li.tagit-choice .close .ui-icon-close {
    background: url(../img/icn-delete.png) center -96px no-repeat;
    cursor: pointer;
    display: inline-block;
    height: 15px;
    margin: 0 0 -3px 3px;
    overflow: hidden;
    text-indent: -9999px;
    width: 15px
}
ul.tagit li.tagit-choice .close:active .ui-icon-close,
ul.tagit li.tagit-choice .close:focus .ui-icon-close,
ul.tagit li.tagit-choice .close:hover .ui-icon-close {
    background-position: center -146px
}
.ui-helper-hidden-accessible {
    display: none
}
.ui-autocomplete {
    background: #fff;
    border: 1px solid #e3e3e3;
    border-top: 0;
    cursor: default;
    padding-top: 2px;
    position: absolute;
    -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, .08);
    -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, .08);
    -ms-box-shadow: 1px 1px 1px rgba(0, 0, 0, .08);
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .08)
}
.ui-menu {
    float: left;
    list-style: none;
    margin: 0;
    padding: 0
}
.ui-menu .ui-menu-item {
    clear: left;
    float: left;
    margin: 0;
    padding: 0;
    width: 100%;
    zoom: 1
}
.ui-menu .ui-menu-item a {
    display: block;
    line-height: 1.5;
    text-decoration: none;
    zoom: 1
}
.ui-menu .ui-state-active,
.ui-menu .ui-state-focus,
.ui-menu .ui-state-highlight,
.ui-menu .ui-state-hover {
    background: #e4e4d9;
    background: rgba(198, 198, 175, .2)
}
div.bug {
    font-style: italic
}
div.callout-box {
    background: #fafafa;
    border: 1px solid #eee;
    float: right;
    margin: 0 0 8px 15px;
    padding: 10px;
    position: relative;
    text-align: center;
    width: 200px;
    z-index: 2
}
p.footnote {
    font-size: 12px;
    font-style: italic;
    color: #716d65
}
div.tip {
    border: 1px solid #e1f5f0;
    padding: 10px 15px;
    color: #6d675f
}
.twocolumns {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    -ms-column-count: 2;
    column-count: 2
}
.threecolumns {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    -ms-column-count: 3;
    column-count: 3
}
ul.errorlist {
    color: #900;
    font-weight: 700
}
ul.errorlist li {
    margin: 5px 0
}
.media,
.media-body {
    overflow: hidden;
    zoom: 1
}
.media-img {
    float: left;
    margin-right: 10px
}
.media-img img {
    display: block
}
.media-imgExt {
    float: right;
    margin-left: 10px
}
